# Twitch Data
TWITCH_USERNAME="username" # Your main or bot account
TWITCH_PASSWORD="oauth:token" # Account password or oauth token
TWITCH_CHANNEL="channel" # Your channel

# OpenAI API Key
OPENAI_API_KEY="key" # Your OpenAI API Key

# /!\ Don`t touch this! /!\
DEBUG="false"
ENVIRONMENT="local-production"
# /!\ Don`t touch this! /!\